@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";
@import './components.css';

:root{
    --blauw: #0097A2;
    --oranje:  #EC6F02;
    --grijs: #E5E4E2;
    --achtergrond: #FFFAE9;
    --zwart: #0B1215;
    --groen: #5AA423;
}

.headline{
    font-size: 24px;
    font-weight: bold;
}

.subheadline{
    font-size: 16px;
    font-weight: bold;
}

.card{
    border-radius: 1px;
    border-color: #E5E4E2;
}

.button{
    background-color: var(--blauw);
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 100%;
    border-radius: 8px;
}

.button:hover{
    background-color: var(--oranje);
}

.btnOrange{
    background-color: var(--oranje);
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    width: 100%;
    border-radius: 8px;
}

.btnOrange:hover{
    background-color: var(--blauw);
}

.timeslot-btn.selected {
    background-color: #0d9488;
    color: white;
    font-weight: 600;
  }

  .timeslot-btn.selected {
    background-color: var(--blauw);
    color: white;
    font-weight: 600;
  }
  
  .timeslot-btn:hover {
    background-color: var(--grijs);
    color: white;
  }
  
  .confirm-btn {
    background-color: var(--blauw);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

